@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<h1>Your profile details</h1>

<p>Username: @ViewBag.user.Username</p>
<p>email: @ViewBag.user.Email</p>